# # This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# # For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Full tests

on:
  push:
    branches: ['master']
  pull_request:
    branches: ['master']
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x]

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - name: Install deps
        run: npm ci

      - name: Run tests
        run: npm run test
        continue-on-error: true

      - name: Upload report
        uses: actions/upload-artifact@v3
        with:
          name: report
          if-no-files-found: error
          path: ./reports/

      - name: send telegram message on push
        uses: appleboy/telegram-action@master
        with:
          to: -1002197542084
          # to: ${{ secrets.TELEGRAM_TO }}
          token: '7232559745:AAEMbqz3zdQzcaaPcwIxmMDqvCugtA7MRNo'
          # token: ${{ secrets.TELEGRAM_TOKEN }}
          message: |
            ${{ github.actor }} created commit messege Yubelik:
            Commit message: ${{ github.event.commits[0].message }}

            Repository: ${{ github.repository }}

            See changes: https://github.com/${{ github.repository }}/commit/${{github.sha}}
